* {
    border: none;
    font-family: "FiraCode Nerd Font";  
    font-weight: normal;
}

window#waybar {
}

#waybar {
  background: rgba(0, 0, 0, 0);
  padding-left: 0px;
}

#workspaces button {
  font-size: 15px;
  color: #c0caf5;
}


#workspaces button:nth-child(1) {
  color: #9ece6a;
}

#workspaces button:nth-child(2) {
  color: #7dcfff;
}

#workspaces button:nth-child(3) {
  color: #e0af68;
}

#workspaces button:nth-child(4) {
  color: #f7768e;
}

#workspaces button:nth-child(5) {
  color: #bb9af7;
}

#workspaces button:nth-child(6) {
  color: #2ac3de;
}

#workspaces button:nth-child(7) {
  color: #73daca;
}

#workspaces button:nth-child(8) {
  color: #ff9e64;
}

#workspaces button:nth-child(9) {
  color: #7aa2f7;
}

#workspaces button.active {
}

.modules-left {
  font-size: 20px;
  color: #c0caf5;
}

.modules-center {
  min-width: 0px;
  padding-right: 0px;
}

.modules-right {
  font-size: 20px;
}

window#waybar.right .modules-left {
  margin-top: 30px;
}

window#waybar.right .modules-right {
  margin-bottom: 10px;
}

window#waybar.bottom .modules-left,
window#waybar.bottom .modules-center,
window#waybar.bottom .modules-right {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#battery {
  font-size: 15px;
  color: #c0caf5;
}

#battery.good {
  color: #9ece6a;
}

#battery.warning {
  color: #e0af68;
}

#battery.critical {
  color: #f7768e;
}

#battery.charging,
#battery.plugged {
  color: #7dcfff;
}

#pulseaudio{
  color: #c0caf5;
}

#network{
  padding-left: 4px;
  color: #7aa2f7;
}

#bluetooth{
  color: #7aa2f7;
}

#cpu{
  font-size: 15px;
  color: #c0caf5;
} 

#hyprland-workspaces {
  padding: 0px;
}



