* {
    border: none;
    font-family: "FiraCode Nerd Font";  
    font-weight: normal;
}

window#waybar {
}

#waybar {
  background: rgba(0, 0, 0, 0);
  padding-left: 0px;
}

#workspaces button {
  font-size: 15px;
  color: white; 
}


#workspaces button:nth-child(1) {
    color: #A6DA95;  
}

#workspaces button:nth-child(2) {
    color: #8BD5CA;  
}

#workspaces button:nth-child(3) {
    color: #EED49F; 
}

#workspaces button:nth-child(4) {
    color: #ED8796;  
}

#workspaces button:nth-child(5) {
    color: #F5BDE6;  
}

#workspaces button.active {
}

.modules-left {
  font-size: 20px;
  color: white;
}

.modules-center {
  min-width: 0px;
  padding-right: 0px;
}

.modules-right {
  font-size: 20px;
}

window#waybar.right .modules-left {
  margin-top: 30px;
}

window#waybar.right .modules-right {
  margin-bottom: 10px;
}

window#waybar.bottom .modules-left,
window#waybar.bottom .modules-center,
window#waybar.bottom .modules-right {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#battery {
  font-size: 15px;
  color: #cad3f5;
}

#battery.good {
  color: #a6da95;
}

#battery.warning {
  color: #eed49f;
}

#battery.critical {
  color: #ed8796;
}

#battery.charging,
#battery.plugged {
  color: #8bd5ca;
}

#pulseaudio{
  color: white;
}

#network{
  padding-left: 4px;
  color: #8AADF4;
}

#bluetooth{
  color: #8AADF4;
}

#cpu{
  font-size: 15px;
  color: white;
} 

#hyprland-workspaces {
  padding: 0px;
}



