window {
    margin: 0px;
    background-color: transparent;
    font-family: "JetBrains Mono", "Fira Code", monospace;
    font-size: 16px;
}

#input {
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    border-bottom : none;
    color: #c0caf5;
    background-color: rgba(31, 35, 53, 0.85);
}

#inner-box {
    margin: 5px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
}

#outer-box {
    margin: 0px;
    border: none;
    border-radius: 14px;
    background-color: rgba(36, 40, 59, 0.9);
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
        color: #c0caf5;
}

#text:selected {
    color: #c0caf5;
}

#entry {
    margin: 5px;
    border: none;
        border-radius: 8px;
    background-color: transparent;
}

#entry:selected {
    background-color: #364a82;
}
